@font-face {
  font-family: "digitalFont";
  src: url(digital-dream.skew.ttf);
}

body {
  margin: 0;
  background-color: rgb(24, 24, 98);
  color: white;
}

.container {
  display: flex;
  justify-content: space-around;
}

.teams {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 35px;
  text-align: center;
  margin-bottom: 10px;
}


.score {
  margin-top: 0px;
  font-family: "digitalFont";
  font-size: 70px;
  background: black;
  color: rgb(212, 42, 42);
  text-align: center;
  margin-bottom: 10px;
  padding: 10px 0;
}

.btn {
  font-family: "digitalFont";
  margin: 2px;
  background-color: rgb(24, 24, 98);
  color:rgb(198, 226, 253);
  padding: 8px 16px;
  border: solid, 1px, rgb(198, 226, 253);
  border-radius: 10%;
}